.header {
    position: relative;
    height: 100px;
    background-color: #142c57; 
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    padding-right: 10px;
  }
  
  .buttons button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
    background-color: #23337C;
    border-radius: 8px;
  }
  
  .buttons button:hover {
    background-color: #0056b3;
    transition: background-color 0.3s ease;
  }

  