
.background {
  background: linear-gradient(135deg, #262641, #1b3563);
  flex: 1,;
  padding: '20px';
}




.card-container {
    display: flex;
    background: linear-gradient(135deg, #262641, #1b3563);
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  
  .card {
    background: linear-gradient(135deg, #0f204e 0%, #1d3b6d 100%); 
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 270px;
    height: auto;
    max-height: 450px; 
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all 0.3s ease;
    overflow: hidden; 
  }
  
  .card:hover {
    transform: translateY(-10px); 
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.3); 
  }
  
  .card h3 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 5px;
    font-weight: 600;
    
  }
  
  
  .card button {
    background-color: #151D3F; 
    color: rgb(255, 255, 255);
    border: none;
    display: flex;
    padding: 5px 10px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: 600;
    font-size: 14px; 
    margin-top: 5px;
    margin-left: 5px;
  }

  .card button:hover {
    background-color: #0056b3; 
  }
  
  
  .parlay-legs {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    max-height: 180px;
  }
  
  
  .parlay-legs h4 {
    font-size: 18px;
    font-weight: bold;
  }
  
  .parlay-legs p {
    font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
    
  }
  
  .card .bet-info {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 400;
  }
  
  .card .bet-info span {
    font-weight: 500;
  }
  
  .card .status {
    font-size: 14px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-weight: bold;
  }
  
  
  .card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto; 
    gap: 10px;
    padding-top: 10px;
  }
  
  
  .card-container:hover {
    transform: translateY(-5px);
  }
  